$column-width: 80px;
$columns: 12;

// Used for grid width left margin
// $gutter: 10px;

// Utility function — you should never need to modify this
@function gridsystem-width($columns:$columns) {
	@return ($column-width * $columns);
}

// Used for grid width left margin
// .grid + .grid > .context{
// 	margin-left: $gutter;
// }

// @each $i in $columns {
//   .g#{$i}{
//   	> .grid:first-child, + .grid{
//      	> .context{
//      		margin-left: 0;
//      	}
//      }
//   }
// }

// Set $total-width to 100% for a fluid layout
$total-width: 100%;

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
$min-width: 999999;
$correction: 0.5 / $min-width * 100;

body {
	width: 100%;
	@extend %clearfix;
}

@mixin column($x,$columns:$columns) {
	display: inline;
	float: left;
	width: $total-width*((($column-width)*$x) / gridsystem-width($columns));
	*width: $total-width*(((($column-width)*$x)) / gridsystem-width($columns))-$correction;
}