/* Variables -> Compass
------------------------------------- */
$legacy-support-for-ie: false;
$legacy-support-for-ie8: true;


/* Import compass 
------------------------------------- */
@import "compass/reset";
@import "compass/css3";


/* Import stylesheets
------------------------------------- */
$my-icons-spacing: 40px;
@import "my-icons/*.png"; //Sprite

@import "_layout";
@import "_input";
@import "_colors";
@import "_typografi";
@import "_placeholders";	//Used for grupped classes