// Media queries 
//-------------------------------------------
// body { 
//   @include media(mobile) { background: red;}
// }
//-------------------------------------------

@mixin media($point) {
  @if $point == desktop {
    @media screen and (min-width: 973px) { @content; }
  }
  @if $point == tabletH {
    @media screen and (max-width: 972px)  { @content; }
  }
  @if $point == tabletV {
    @media screen and (max-width: 700px)  { @content; }
  }
  @else if $point == mobile {
    @media screen and (max-width: 550px)  { @content; }
  }
}

// For test of media queries
@media screen and (min-width: 973px) { body{ background: orange !important; }}
@media screen and (max-width: 972px) { body{ background: lightblue !important; }}
@media screen and (max-width: 700px) { body{ background: red !important;    }}
@media screen and (max-width: 550px) { body{ background: purple !important; }}

