// Media queries 
//-------------------------------------------
// body { 
//   @include media(mobile) { background: red;}
// }
//-------------------------------------------

@mixin media($point) {
  @if $point == desktop {
    @media screen and (min-width: 973px) { @content; }
  }
  @if $point == tabletH {
    @media screen and (max-width: 972px)  { @content; }
  }
  @if $point == tabletV {
    @media screen and (max-width: 700px)  { @content; }
  }
  @else if $point == mobile {
    @media screen and (max-width: 550px)  { @content; }
  }
}

// For test of media queries
body{
  @include media(desktop) { background: orange !important; }
  @include media(tabletH) { background: #000 !important; }
  @include media(tabletV) { background: red !important;    }
  @include media(mobile) { background: purple !important; }
}

