@import "import.scss";


/* Website
------------------------------------- */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}





.one{
	width: percentage(7px / 11px);
	height: 200px;
	background: blue;
	position: relative;	
}